.sc-iJnaPW.kAWKnj{
  width: 100% !important;
  height: 100% !important;
  margin-top: 0px;
}

.sc-ckLdoV.fuptkh{  
  width: 100% !important;
  height: 100% !important;

}
.sc-lllmON.iSUdnk{  
  width: 100% !important;
  height: 100% !important;

}

.sc-cwSeag.kqfpRc{  
  width: 100% !important;
  height: 100% !important;

}
.sc-dGQEGF.lfMIPT{  
  width: 100% !important;
  height: 100% !important;

}