.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 10px;
}

ul.pagination li:last-child {
  border-radius: 10px;
}

ul.pagination li a {
  text-decoration: none;
  color: #8ec3b0;
  font-size: 20px;
}

ul.pagination li.active a {
  color: #555;
}

ul.pagination li.active {
  background: #bcead5;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-2px);
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: #555;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #8ec3b0;
}
